.body{
    margin: 0;
}

.sidebar {
    display: inline-block;
    margin-left: 0px;
    border: 1px;
    border-radius: 1px;
    background-color: #373434;
    color: white;
    font-family: 'Bebas Neue', cursive;
    height: 103.5vh;
    width: 8vw;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 40px 40px 40px 00px;
    border: 10px 10px 10px 10px;
    border: 1px solid black;
    z-index:0;
}

.interface {
    border: 1px solid black;
    background-color: #2A2828;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 13vh;
    left: 8vw;
    width: 93vw;
    height: 83vh;
}
.header {
    background-color: #373434;
    color: white;
    box-sizing: border-box;
    position: absolute;
    left: 8vw;
    top: 0px;
    border: 1px solid #141313;
    height: 40vh;
    width: 93vw;
    font-family: 'Bebas Neue', cursive;
    border-left: none;
}

.tasks {
    position: relative;
    top: 0vh;
    width:10vw;
    margin: 0px;
    display: inline-block;
}
.c-tasks {
    position: relative;
    top: -10vh;
    right: -35vw;
    width:10vw;
    margin: 0px;
}
.NewcTask {
    width: 17vw;
    height: 13vh;
    background-color: #141313;
    position: relative;
    left:9vw;
    border: 2px solid #393737;
    border-radius: 9%;
    padding: 5vh 5vw;
    margin: 2vh 0px  2vh 1vw ;
    z-index: 5;
    box-sizing: border-box;
}
.NewTask {
    width: 17vw;
    height: 13vh;
    background-color: #141313;
    position: relative;
    left:9vw;
    border: 2px solid #393737;
    border-radius: 9%;
    padding: 5vh 5vw;
    margin: 2vh 0px  2vh 1vw ;
    z-index: 5;
    box-sizing: border-box;
}


.tasks>button,
.c-tasks>button {
    width: 8vw;
    height: 3vh;
}

.tasks>h3,
span,
button {
    position: relative;
    left: 15vw;
}

.c-tasks>h3,
span,
button {
    position: relative;
    left: 15vw;
    background: none;
    border: none;
    color: white;
}