@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.body {}

.sidebar {
    margin-left: 0px;
    border: 1px;
    border-radius: 1px;
    background-color: #141313;
    color: white;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    width: 50vw;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    border: 10px 10px 10px 10px;
}

.interface {
    border: 1px solid black;
    background-color: #2A2828;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 30vh;
    left: 100px;
    width: 98vw;
    height: 70vh;
}

.header {
    background-color: #141313;
    color: white;
    box-sizing: border-box;
    position: absolute;
    left: 6vw;
    top: 0px;
    border: 1px solid #141313;
    height: 58vh;
    width: 100vw;
    font-family: 'Bebas Neue', cursive;
}

.Search {
    position: relative;
    left: 50px;
    bottom: -10px;
}