@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.body,
html {
    margin: 0 auto;
    padding: 0 auto;
    max-height: 98vh;
    max-width: 100vw;
    display: inline-block;
}

a {
    color: white;
}

.sidebar {
    display: inline-block;
    margin-left: 0px;
    border: 1px;
    border-radius: 1px;
    background-color: #373434;
    color: white;
    font-family: 'Bebas Neue', cursive;
    height: 103.5vh;
    width: 8vw;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 40px 40px 40px 00px;
    border: 10px 10px 10px 10px;
    border: 1px solid black;
    z-index: 0;
}

.sidebar>img {
    position: relative;
    left: 2vw;
    bottom: 2vh;
}

.user {
    position: relative;
    top: 50vh;
}

.txt {
    position: relative;
    right: 10px;
    bottom: 30px;
    width: 10vw;
}

.checked {
    position: relative;
    right: 10px;
}

.checks {
    position: relative;
    right: 10px;
    bottom: 30px;
    width: 10vw;
}

.interface {
    border: 1px solid black;
    background-color: #2A2828;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 13vh;
    left: 8vw;
    width: 93vw;
    height: 83vh;
}

.header {
    background-color: #373434;
    color: white;
    box-sizing: border-box;
    position: absolute;
    left: 8vw;
    top: 0px;
    border: 1px solid #141313;
    height: 40vh;
    width: 93vw;
    font-family: 'Bebas Neue', cursive;
    border-left: none;
}

.board {
    box-sizing: border-box;
    position: relative;
    left: 120px;
    bottom: 50px;
    width: 300px;
    height: 5vh;
    padding: 10px 30px 10px 10px;
    line-height: 15px;
}

.search {
    box-sizing: border-box;
    position: relative;
    left: 30vw;
    bottom: 10vh;
}

.line {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.submenu {
    position: relative;
    left: 40vw;
}

.completed {
    position: relative;
    left: 15vw;
}

.new-section>button {
    position: relative;
    left: 30vw;
}

.complete,
c-complete {
    position: relative;
    bottom: 1px;
    width: 1px;
    height: 1px;
    outline: 5px solid red;
}

.date {
    position: relative;
    right: 10px;
    bottom: 30px;
    width: 5vw;
}

.task,
.c-task {
    width: 17vw;
    height: 13vh;
    background-color: #141313;
    border: 2px solid #393737;
    border-radius: 9%;
    margin: 5vh 10vw;
    z-index: 1;
    box-sizing: border-box;
    cursor: move;
}

.task>a,
.c-task>a {
    position: relative;
    left: 15vw;
    bottom: 9vh;
    z-index: 1;
}

.NewcTask {
    width: 17vw;
    height: 13vh;
    background-color: #141313;
    position: relative;
    left: 9vw;
    border: 2px solid #393737;
    border-radius: 9%;
    padding: 5vh 5vw;
    margin: 2vh 0px 2vh 1vw;
    z-index: 5;
    box-sizing: border-box;
}

.NewTask {
    width: 17vw;
    height: 13vh;
    background-color: #141313;
    position: relative;
    left: 9vw;
    border: 2px solid #393737;
    border-radius: 9%;
    padding: 5vh 5vw;
    margin: 2vh 0px 2vh 1vw;
    z-index: 5;
    box-sizing: border-box;
}

.tasks {
    position: relative;
    top: 0vh;
    width: 10vw;
    margin: 0px;
    display: inline-block;
}

.tasks>button,
.c-tasks>button {
    width: 8vw;
    height: 3vh;
}

.tasks>h3,
span,
button {
    position: relative;
    left: 15vw;
}

.c-tasks {
    position: relative;
    left: 25vw;
    bottom: 30vh;
    box-sizing: border-box;
    z-index: 1000;
    float: none;
}

.c-tasks>h3,
span,
button {
    position: relative;
    left: 15vw;
    background: none;
    border: none;
    color: white;
}

.new-section {
    position: relative;
    left: 50vw;
    bottom: 65vh;
}

.new-section>button {
    color: white;
    background-color: #393737;
    border: 2px solid white;
    border-radius: 5%;
}

.dropbtn {
    background-color: #5f5cb7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 49vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -12vw;
    background-color: #2A2828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5f5cb7;
}